<!-- Extra Info -->

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Do you want to know the ways to create a source of passive income by creating a blog?
      </h3>
    </div>
    <div class="col-md-12">
      <h3>Do you want to know how to use SEO to generate unlimited traffic and drive sales to your
        business.</h3>
    </div>
    <div class="col-md-12">
      <h2><strong>If yes, Go forward and read our posts related to SEO, copywriting and other marketing
          strategies.</strong></h2>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <h2>At SEOLeal We talk about the following topics in detail.</h2>
    <a href="/categories/#blogging" class="card col-md-3">
      <img src="/img/posts/notepad.jpg" alt="Blog related posts" style="width:100%">
      <div class="container">
        <h4><strong>Blogging</strong></h4>
        <p>It has become pretty easy to create a simple blog with websites like WordPress, Netlify or Medium due to the
          technological advancements. But it is equally hard to become a success in Blogging. You need to know a lot of
          stuff! Read our posts on Blogging for that.</p>
      </div>
    </a>
    <div class="card col-md-3">
      <img src="/img/bg-about.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><strong>Jane Doe</strong></h4>
        <p>Interior Designer</p>
      </div>
    </div>
    <div class="card col-md-3">
      <img src="/img/bg-about.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><strong>Jane Doe</strong></h4>
        <p>Interior Designer</p>
      </div>
    </div>
    <div class="card col-md-3">
      <img src="/img/bg-about.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><strong>Jane Doe</strong></h4>
        <p>Interior Designer</p>
      </div>
    </div>
    <div class="card col-md-3">
      <img src="/img/bg-about.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><strong>Jane Doe</strong></h4>
        <p>Interior Designer</p>
      </div>
    </div>
    <div class="card col-md-3">
      <img src="/img/bg-about.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><strong>Jane Doe</strong></h4>
        <p>Interior Designer</p>
      </div>
    </div>
    <div class="card col-md-3">
      <img src="/img/bg-about.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><strong>Jane Doe</strong></h4>
        <p>Interior Designer</p>
      </div>
    </div>
    <div class="card col-md-3">
      <img src="/img/bg-about.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><strong>Jane Doe</strong></h4>
        <p>Interior Designer</p>
      </div>
    </div>
    <div class="card col-md-3">
      <img src="/img/bg-about.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><strong>Jane Doe</strong></h4>
        <p>Interior Designer</p>
      </div>
    </div>

  </div>
</div>